html {
  padding: 1% 10%;
  max-width: 1024px;
  margin: 0 auto;
}

@mixin goRight {
  display: flex;
  align-items: center;
}

@mixin leftBars {
  padding-top: 3%;
  padding-left: 3%;
  a {
    color: black;
  }
}

@mixin rowify {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
}

.navbar {
  height: 90px;
  hr {
    border: 1.2px solid black;
  }
}

.nav-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  #fivethirtyeight-logo {
    max-height: 40px;
    max-width: 200px;
  }
  #abc-logo {
    max-height: 25px;
    max-width: 120px;
  }
  a {
    color: black;
    border: 0.5px black solid;
    padding: 5px;
  }
  a:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    }
  .hang-right {
    @include goRight;
  }
}

.grayify {
  color: gray;
}

.nav-bottombar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: gray;
    transition: 0.3s;
  }
  .hang-right {
    @include goRight;
    padding-left: 12%;
  }
}

.central-banner {
  max-height: 530px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .central-text {
    padding-left: 3%;
    #author {
      color: black;
    }
  }
}

.latest-politics {
  padding-top: 6%;
  border-bottom: 1.2px solid black;
  #lp-text {
    font-size: 30px;
    text-emphasis: bold;
  }
}

.below-bars {
  display: flex;
  flex-direction: column;
}

.left-stories-bar {
  max-width: 705px;
  max-height: 1745px;
}

.bill-weld-story {
  @include rowify;
  .left-text {
    @include leftBars;
  }
}

.candidates-story {
  @include rowify;
  .left-text {
    @include leftBars;
  }
}

.mueller-story {
  @include rowify;
  .left-text {
    @include leftBars;
  }
}

.right-interactives-bar {
  border: 1px solid purple;
  width: 320px;
  max-height: 1130px;
}
