html {
  padding: 0 10%;
  max-width: 1024px;
  margin: 0 auto;
}

.navbar {
  border: 1px solid red;
  height: 105px;
}

.nav-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: black;
    border: 0.5px black solid;
    padding: 5px;
  }
  a:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    }
  .hang-right {
    display: flex;
    align-items: center;
  }
}

.nav-bottombar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    decoration: none;
  }
}

.central-banner {
  border: 1px solid blue;
  max-height: 530px;
}

.below-bars {
  border: 1px solid darkgreen;
}

.left-stories-bar {
  border: 1px solid black;
  max-width: 705px;
  max-height: 1745px;
}

.right-interactives-bar {
  border: 1px solid purple;
  width: 320px;
  max-height: 1130px;
}
