html {
  padding: 1% 10%;
  max-width: 1024px;
  margin: 0 auto;
}

@mixin goRight {
  display: flex;
  align-items: center;
}

.navbar {
  border: 1px solid red;
  height: 90px;
}

.nav-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  #fivethirtyeight-logo {
    max-height: 40px;
    max-width: 200px;
  }
  #abc-logo {
    max-height: 25px;
    max-width: 120px;
  }
  a {
    color: black;
    border: 0.5px black solid;
    padding: 5px;
  }
  a:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    }
  .hang-right {
    @include goRight;
  }
}

hr {
  border: 1.2px solid black;
}

.nav-bottombar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  #grayify {
    color: gray;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: gray;
    transition: 0.3s;
  }
  .hang-right {
    @include goRight;
    padding-left: 12%;
  }
}

.central-banner {
  border: 1px solid blue;
  max-height: 530px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .central-text {
    padding-left: 3%;
    #author {
      color: black;
    }
  }
}

.below-bars {
  border: 1px solid darkgreen;
}

.left-stories-bar {
  border: 1px solid black;
  max-width: 705px;
  max-height: 1745px;
}

.right-interactives-bar {
  border: 1px solid purple;
  width: 320px;
  max-height: 1130px;
}
